<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
        xmlns:p="http://www.springframework.org/schema/p"  
        xmlns:context="http://www.springframework.org/schema/context"  
        xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">  
    
  <context:component-scan  base-package="com.mobicule.controller" />  
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
            <property name="prefix" value="/WEB-INF/view/" />  
            <property name="suffix" value=".jsp" />  
        </bean>  
        <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
	<property name="driverClassName" value="com.mysql.jdbc.Driver" />
	<property name="url"
		value="jdbc:mysql://localhost:3306/online_movie_system" />
	<property name="username" value="root" />
	<property name="password" value="root" />
</bean>
<bean id="mysessionFactory"
	class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	<property name="dataSource" ref="dataSource" />
	<property name="mappingResources">
		<list>
			<value>user.hbm.xml</value>
			<value>city.hbm.xml</value>
			<value>theater.hbm.xml</value>
			<value>movie.hbm.xml</value>
		</list>
	</property>
	<property name="hibernateProperties">
		<props>
			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			<prop key="hibernate.hbm2ddl.auto">update</prop>
			<prop key="hibernate.show_sql">true</prop>
		</props>
	</property>
</bean>
<bean id="template" class="org.springframework.orm.hibernate3.HibernateTemplate">
	<property name="sessionFactory" ref="mysessionFactory" />
</bean>
<bean id="userid" class="com.mobicule.dao.UserDao">
<property name="template" ref="template" />

</bean>
<bean id="movieid" class="com.mobicule.dao.MovieDao">
<property name="template" ref="template" />

</bean>
<bean id="cityid" class="com.mobicule.dao.CityDao">
<property name="template" ref="template" />

</bean>
<bean id="theaterid" class="com.mobicule.dao.TheaterDao">
<property name="template" ref="template" />

</bean>

    
 
        
</beans>  